.book-popup-name {
    width: 100%;
    border-radius: 8px;
}

.book-popup-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.book-popup-btn {
    width: 48%;
}